body {
    padding: 0;
    margin: 0;
}


.nav-item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #1a1b1f;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-item:hover:before, .nav-item:focus:before, .nav-item:active:before {
    right: 0;
}

.nav {
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-between;
    align-content: center;
    /*border-bottom: 1.5px solid #dc1a5d;*/
    background-color: #ffffff;
    border-bottom: 1px solid #1a92dc;
    z-index: 2;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-links {
    margin-top: 2em;
    margin-right: 5%;
}

.nav-img {
    margin-left: 5%;
    margin-top: 10px;
}

.nav-item {
    display: inline;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    color: #1a1b1f;
    margin: 0 20px 0 20px;
    font-size: 17px;
}

.active {
    font-weight: 600;!important;

}

.nav-item:visited {
    color: #1a1b1f;
}

.nav-item__a:link {
    text-decoration: none;
}

@media (max-width: 728px) {
    .nav-item {
        font-size: 1.3rem;
    }
}

.header {
    width: 100%;
    height: 67vh;
    background-color: #ffffff;

}

.sticky + .content {
    padding-top: 60px;
}

.blob {
    position: absolute;
    top: 66px;
    left: -200px;
    width: 24vmax;
    fill: #1a92dc;
    z-index: 1;
    animation: move 5s infinite;
    transform-origin: 50% 50%;
}

@keyframes move {
    0% {
        top: 0;
    }
    50% {
        top: 22px;
    }
    100% {
        top: 0;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-img--image {
    margin-top: 11%;
    border-radius: 88px;
    z-index: 999999;
}

.content-intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 44px;
    color: #1a1b1f;
    margin-bottom: -10%;
}

.content-name {
    font-family: 'Montserrat', sans-serif;
    color: #1a92dc;
    font-size: 44px;
    font-weight: bold;
}

.content-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: #1a1b1f;
    max-width: 425px;
    border-bottom: 1px solid #1a92dc;
    padding-bottom: 12px;
    margin-top: -30px;
}

.content-signature {
    margin-top: 20px;
}

.container {
}

.exp {
    margin-top: 8%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 100%;
    height: 100%;
}
